ConnectionStrings__DefaultConnection="TEST"
ACCEPT_EULA=
MSSQL_SA_PASSWORD=


JWT_SECRET=your-super-long-secret-key-at-least-32-characters
JWT_ISSUER=StudentApi
JWT_AUDIENCE=StudentApiUsers
JWT_EXPIRES_MINUTES=30